{{set . "title" "Team Select"}}
{{template "header.html" .}}

    <div id="wrapper" class="divided">

        <!-- Select Team -->
        <section class="wrapper style1 align-center">
            <div class="inner">
                <div class="image">
                    <img src="/public/img/premier-league/premier-league-logo.png" alt="" />
                </div>
                <h1><b>Premier League Board</b></h1>
                <div class="items style1 medium onscroll-fade-in">
                    <section>
                        <span class="icon style2 major"></span>
                        <div class="image">
                            <img src="/public/img/premier-league/arsenal-logo.png" alt="" />
                        </div>
                        <h2><b>Arsenal</b></h2>
                    </section>
                    <section>
                        <span class="icon style2 major"></span>
                        <div class="image">
                            <img src="/public/img/premier-league/bournemouth-logo.png" alt="" />
                        </div>
                        <h2><b>Bournemouth</b></h2>
                    </section>
                    <section>
                        <span class="icon style2 major"></span>
                        <div class="image">
                            <img src="/public/img/premier-league/brighton-hove-albion-logo.png" alt="" />
                        </div>
                        <h2><b>Brighton & Hove Albion</b></h2>
                    </section>
                    <section>
                        <span class="icon style2 major"></span>
                        <div class="image">
                            <img src="/public/img/premier-league/burnley-logo.png" alt="" />
                        </div>
                        <h2><b>Burnley</b></h2>
                    </section><section>
                        <span class="icon style2 major"></span>
                        <div class="image">
                            <img src="/public/img/premier-league/cardiff-city-logo.png" alt="" />
                        </div>
                        <h2><b>Cardiff City</b></h2>
                    </section><section>
                        <span class="icon style2 major"></span>
                        <div class="image">
                            <img src="/public/img/premier-league/chelsea-logo.png" alt="" />
                        </div>
                        <h2><b>Chelsea</b></h2>
                    </section>
                </div>
            </div>
        </section>
    </div>

    <!-- Scripts -->
    <script src="/public/js/jquery.min.js"></script>
    <script src="/public/js/jquery.scrollex.min.js"></script>
    <script src="/public/js/jquery.scrolly.min.js"></script>
    <script src="/public/js/browser.min.js"></script>
    <script src="/public/js/breakpoints.min.js"></script>
    <script src="/public/js/util.js"></script>
    <script src="/public/js/main.js"></script>

{{template "footer.html" .}}
